@import '../../shared/mixins.styl';

.comments-list
  padding-left: 10px;
  &__item
    border-bottom: 1px solid #ccc;
    margin-top: 10px;

    &:first-child
      margin-top: 0

  &__time-range
    font(12px)
    padding 5px 10px
    background-color #47A0DB;
    color white

  &__comment-text
    font(14px, 400, 1.5)
    padding: 5px 10px
