@import '../../shared/mixins.styl';

.subtitles-list
  height: 100%
  display: flex
  flex-direction column
  position: relative
  background-color #f7f7f7
  &__header
    padding 10px 10px 10px 12px
    background-color #244d65;
    color white
    display: flex
    justify-content space-between

  &__header-title
    font(20px, 300)
    letter-spacing 0.015em

  &__header-add-icon
    fill white
    width 10px
    height 10px
    margin-right: 5px

  &__list-container
    overflow auto
    padding 0 12px

  &__header-actions
    text-align right

    button
      background-color: #238ac8;
      border: none;
      border-radius: 2px;
      color: white;
      padding: 3px 10px
      font(14px, 100)
      cursor: pointer
      text-transform: uppercase;

      &:hover
        background-color: #24a9ef;

  &__item
    border-top: 1px solid #ccc;
    padding 20px 0

    &:first-child
      margin-top: 0
      border-top: none;

  &__time-range
    font(12px)
    display: flex
    justify-content space-between
    margin-bottom: 10px

  &__time-range-part
    flex-basis 0
    flex-grow 1

  &__time-range-label
    color #888;
    margin-bottom: 2px

  &__time-range-value
    font(13px, 300)

  &__subtitle-text
    font(15px, 100, 1.5)

  &__add-new
    position: absolute
    visibility hidden
    opacity 0
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color rgba(0,0,0,0.4)

    &_visible
      visibility visible
      opacity 1
