@import '../../shared/mixins.styl';

.subtitles-list
  overflow auto
  padding 0 12px

  &__item
    border-top: 1px solid #ccc;
    padding 20px 0

    &:first-child
      margin-top: 0
      border-top: none;

  &__time-range
    font(12px)
    display: flex
    justify-content space-between
    margin-bottom: 10px

  &__time-range-part
    flex-basis 0
    flex-grow 1

  &__time-range-label
    color #888;
    margin-bottom: 2px

  &__time-range-value
    font(13px, 300)

  &__subtitle-text
    font(15px, 100, 1.5)
