@import '../../shared/mixins.styl';

.add-comment
  background-color white

  &__time-input
    border 1px solid #dddddd
    background-color white
    position: relative
    display: inline-block

  &__time-input-control,
  &__time-input-helper
    -webkit-appearance none
    width: 100%
    padding 6px 4px
    font(14px)

  &__time-input-control
    position: relative
    border none
    background-color transparent
    z-index: 2

  &__time-input-helper
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    pointer-events none
    z-index: 1
    color #e1e1e1



