.timeline-item
  position: absolute
  background-color azure
  height 30px
  top: 0
  display: flex;
  opacity: 0.5;

  &__left-res
  &__right-res
    width: 4px
    background-color rebeccapurple
    height: 100%
    cursor ew-resize

    &:hover
      background-color yellow

  &__dragger
    height: 100%
    flex-grow 1
    cursor move
    &:hover
      background-color yellow
