@import './shared/mixins.styl';

.page
  max-width 1280px
  margin 20px auto 0
  padding 0 20px

.app
  position: relative
  padding-bottom: 45%;

  &__header
    margin-bottom: 20px
    h1
      font(28px, 100)
      letter-spacing 1px
      margin-bottom: 4px;
      color #546979
    p
      color: #647987
      font(13px, 300)

      strong
        font-weight 500

  &__container
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    display: flex

  &__main
    flex-basis 72%
    flex-grow 1


  &__sidebar
    padding-left: 10px;
    flex-basis 28%
    flex-grow 1

*
  box-sizing border-box
