@import '../../shared/mixins.styl';

.time-input
  position: relative
  display: inline-block

  &__part-control
    background-color white
    color #222
    font(16px)
    padding 2px
    width 28px
    &_ms
      width 39px

