@import '../../shared/mixins.styl';

.time-input
  background-color white
  position: relative
  display: inline-block

  &__part-control
    font(16px)
    padding 2px
    width: 28px
    &_ms
      width 39px

